<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<!-------------------------BODY------------------------------------>
<link rel="stylesheet" href="/css/style.css">
<!-----------------------ICONOS Fontawesome------------------------>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
<!------------------------Tipografia Roboto------------------------>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik+Distressed&display=swap" rel="stylesheet"    />

<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/register.css">

<body>
<header>

    <section id="header-tablet">
        <!-----------Etiqueta "header" para trabajar con el Logo y barra de busqueda ------->
        <section id="header-mobile">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" class="iconoML">

        <section class="barraBusqueda">
        <!------------Se agrega etiqueta texto-barraBusqueda para independizar el texto de la barra ---->
        <div>
            <input type="text" name="barra-busqueda" id="barra-busqueda" placeholder="Buscar productos, marcas" class="barra-busqueda" >  
            </div>
           <!----- <div class="lupa">
            <button type="button"><a href=""><i class="fas fa-search"></i></a></button> -->
            
             </div>

        </section>
        
        
        <p class="compraEnCuotasYsinTarjeta"> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
        </div>
        
        <!----Se crea etiqueta de navegacion <nav>  ---------->
        
        <!--------------Unlisted: Listado sin numerar----------------------->
        
        <ul class="nav-left">
            <li> Ofertas </li>
            <li> Tiendas Oficiales </a> </li>
            <li> Vender </li>
            <li> Ayuda  </li>
        </ul>
        <ul class="nav-right">
            <li> <a href="/register"> Creá tu cuenta </a> <i class="fas fa-user-circle"></i> </li> 
            <li><a href="/login"> Ingresá <i class="fas fa-sign-in-alt"></i></a> </li>
            <li> Mis compras <i class="fas fa-shopping-basket"></i></li>
        </ul>
        
        </nav>
        
        <div class="burger-menu">
            <i class="fas fa-bars" style="color: white"></i>
        
        
        
            
            <!---------Se crean dos secciones dentro de header <section>  -->
            </header>
            <section id="banner">
                <img src="/images/img-home-banner.jpg" width="100%" alt="Banner de ofertas">
                
            </section>
        </header>

<body>
<main class="login-principal">

    <div class="main-login">
    <div class="login-usuario">
<input type="text" name="usuario-log" id="usuario-log" placeholder="Nombre de usuari@" class="campo-login" required minlength="6">
</div>
<div class=" pass-usuario">
<input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" class="campo-login" required>
</div>
<div>
   <a href="/"> <button type="" class="boton-login"> Enviar</button></a>
</div>
</div>

</main>
<footer>
<section class="footer">

<article class="iconoCard">
        <i class="fas fa-credit-card"></i>
<h5 class="tituloFooter">  Pagá con tarjeta o en efectivo </h5>
 <p class="parrafoFooter"> Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>
</article>

<article class="iconoGift">
    <i class="fas fa-gift"></i>
    <h5 class="tituloFooter">Envío gratis desde $ 2.500</h5>
   <p class="parrafoFooter"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
</article> 

<article class="iconoSecurity">
    <i class="fas fa-user-shield"></i>
    <h5 class="tituloFooter">Seguridad, de principio a fin </h5>    
    <p class="parrafoFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
</article>

<section class="copyright">
    <h5>Copyright © 1999-2020 MercadoLiebre S.R.L</h5>
</section>

</section>
</footer>
</body>
</html>